<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/top_r_season2.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,187},{54,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,50}</string>
			</dict>
			<key>ui/top_r_season0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,4054},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>
			<key>ui/top_r_season1.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,132},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>ui/top_r_season3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,4047},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>ui/top_weather1.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,132},{63,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,52}</string>
			</dict>
			<key>ui/top_weather2.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,0},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>ui/top_weather3.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,0},{68,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,57}</string>
			</dict>
			<key>ui/top_weather0.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,195},{59,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,54}</string>
			</dict>
			<key>ui/topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{720,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{720,435}</string>
			</dict>
			<key>ui/topbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3010},{585,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{585,114}</string>
			</dict>
			<key>ui/topdegree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,152},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>ui/topeventwordbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3871},{719,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{719,207}</string>
			</dict>
			<key>ui/tophero0.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,3299},{181,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,238}</string>
			</dict>
			<key>ui/tophungerbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,3222},{59,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,74}</string>
			</dict>
			<key>ui/tophungerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,3627},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>ui/topoutinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,212},{52,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,81}</string>
			</dict>
			<key>ui/topoutinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2799},{63,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,87}</string>
			</dict>
			<key>ui/toplifebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,396},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>ui/toplifebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,3629},{79,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>ui/toplivedaysicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,68},{58,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,51}</string>
			</dict>
			<key>ui/topinnerinjurybar.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,325},{64,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,71}</string>
			</dict>
			<key>ui/topinnerinjurybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,3628},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>ui/topspiritbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,2799},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>ui/topspiritbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,3641},{73,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,89}</string>
			</dict>
			<key>ui/toptemperature.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,263},{21,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,52}</string>
			</dict>
			<key>ui/toptimeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,4047},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>ui/room.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1059},{720,892}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,892}</string>
			</dict>
			<key>ui/bed.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3124},{319,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,175}</string>
			</dict>
			<key>ui/cooktable.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,3124},{161,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,207}</string>
			</dict>
			<key>ui/exerciseroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3299},{263,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,205}</string>
			</dict>
			<key>ui/fence.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,3724},{179,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,97}</string>
			</dict>
			<key>ui/forgingtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2595},{286,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,297}</string>
			</dict>
			<key>ui/furnace.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,212},{96,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,113}</string>
			</dict>
			<key>ui/medicinekit.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,3722},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>ui/storageroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,3853},{208,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,216}</string>
			</dict>
			<key>ui/winemake.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,3537},{109,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,187}</string>
			</dict>
			<key>ui/syssmallbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3315},{523,556}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{523,556}</string>
			</dict>
			<key>ui/syssmalltie.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3825},{180,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,38}</string>
			</dict>
			<key>ui/builditem.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,2892},{606,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{606,118}</string>
			</dict>
			<key>ui/normalboxgb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{720,1059}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,1059}</string>
			</dict>
			<key>ui/backbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,3659},{122,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,63}</string>
			</dict>
			<key>ui/buildsmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,3537},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>ui/resbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,897},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>ui/buildprogressbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,4078},{338,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,16}</string>
			</dict>
			<key>ui/buildprogressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4078},{340,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,18}</string>
			</dict>
			<key>ui/normalbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,3230},{121,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,54}</string>
			</dict>
			<key>ui/sbed.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,3848},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba0.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,3954},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/winetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,3562},{263,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,205}</string>
			</dict>
			<key>ui/scooktable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,3847},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,3953},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/ba2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,3285},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bb0.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,3391},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,3124},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/sforgingtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,3010},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bwine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,3116},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/swinemake.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,3535},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/smedicinekit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,3714},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bh0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,3523},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,3710},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/sfurnace.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,3844},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/bw0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,3950},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/swinetable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,3842},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/storagesepline.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,4078},{307,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,13}</string>
			</dict>
			<key>ui/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,3948},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,3284},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,3390},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,3522},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,3708},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,3842},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,3948},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,3284},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,3390},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,3281},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,3387},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,3521},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,3699},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,3835},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,3941},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1951},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2057},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2163},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2269},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2375},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2481},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1951},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2057},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroppoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,349},{61,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,27}</string>
			</dict>
			<key>ui/heroselectbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1951},{644,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{644,566}</string>
			</dict>
			<key>ui/hp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2163},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp4.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2269},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp5.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2375},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp6.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2481},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2587},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2693},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/hp8-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,106},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/m10-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,4056},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>ui/m10-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,284},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>ui/m10-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,385},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m10-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,200},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>ui/m10-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,3814},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>ui/m1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,126},{48,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,52}</string>
			</dict>
			<key>ui/m11-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,687},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m11-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,3496},{86,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,24}</string>
			</dict>
			<key>ui/m11-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,761},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m11-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,463},{72,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,28}</string>
			</dict>
			<key>ui/m11-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,3805},{74,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,30}</string>
			</dict>
			<key>ui/m11-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,619},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
			<key>ui/m11-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,687},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>ui/m1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,126},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>ui/m12-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,60},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,3821},{104,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>ui/m1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,4059},{102,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,26}</string>
			</dict>
			<key>ui/m2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,533},{86,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,24}</string>
			</dict>
			<key>ui/m2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,3816},{94,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,26}</string>
			</dict>
			<key>ui/m2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,3825},{120,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,28}</string>
			</dict>
			<key>ui/m2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,4054},{88,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,26}</string>
			</dict>
			<key>ui/m2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,3821},{104,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,27}</string>
			</dict>
			<key>ui/m3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,3222},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>ui/m3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,3493},{76,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,28}</string>
			</dict>
			<key>ui/m3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,829},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,481},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>
			<key>ui/m4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,68},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,60}</string>
			</dict>
			<key>ui/m4-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,3497},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>ui/m4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,491},{72,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,28}</string>
			</dict>
			<key>ui/m4-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,601},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>ui/m4-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,293},{74,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,30}</string>
			</dict>
			<key>ui/m4-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,254},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m4-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,519},{74,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,26}</string>
			</dict>
			<key>ui/m4-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,385},{72,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,28}</string>
			</dict>
			<key>ui/m4-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,325},{72,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,60}</string>
			</dict>
			<key>ui/m4-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,0},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,90},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>ui/m5-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,3821},{94,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,30}</string>
			</dict>
			<key>ui/m5-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,385},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>
			<key>ui/m6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,30},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m6-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,68},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m6-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,675},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m6-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,455},{72,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,26}</string>
			</dict>
			<key>ui/m7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,126},{46,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>
			<key>ui/m7-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,323},{70,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,26}</string>
			</dict>
			<key>ui/m7-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,593},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m7-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,241},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>ui/m7-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,3641},{98,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,66}</string>
			</dict>
			<key>ui/m7-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,114},{38,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,24}</string>
			</dict>
			<key>ui/m7-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,0},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m7-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,757},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m7-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,463},{70,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>ui/m7-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,98},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>ui/m7-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,3497},{96,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,26}</string>
			</dict>
			<key>ui/m7-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,30},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>ui/m8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,519},{68,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,28}</string>
			</dict>
			<key>ui/m8-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,178},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>ui/m9-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,533},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
			<key>ui/m9-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,4060},{96,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,28}</string>
			</dict>
			<key>ui/m9-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,827},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>ui/m9-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,3820},{104,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,24}</string>
			</dict>
			<key>ui/m9-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,3496},{88,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,26}</string>
			</dict>
			<key>ui/m9-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,4054},{76,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uipacker.png</string>
			<key>realTextureFileName</key>
			<string>uipacker.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>